.alley-cat-container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
	padding: 0 4rem;
	min-width: 10ch;
	max-width: 900px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	line-height: 1.6;
}
.alley-cat-container h1 {
	font-size: 7rem;
}
.alley-cat-container h2 {
	font-size: 3rem;
}
.alley-cat-container h3 {
	font-size: 2rem;
}
